<h1> Log in </h1>
<%= form_for @user, :url => sessions_path do |f| %>

  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <%= f.submit "Log in" %>

<% end %>