<h1>Sign up</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |error| %>
      <div class="alert">
        <%= error %>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </p>

  <%= f.submit %>

<% end %>