<h2>
  <%= @product.formatted_price %>
  <%= @product[:name] %>
</h2>

<%= link_to "Edit", edit_product_path(@product.id) %>

<p><%= @product[:description] %></p>

<%= form_for [@product, @review] do |f| %>

  <p>
    <h3> Add a review </h3>
    <%= f.text_area :comment %>
  </p>

  <%= f.submit %>

<% end %>

<h3> Reviews </h3>

<% @product.reviews.each do |review| %>
  <div class="review">
    <div class="poster">Posted by <%= review.user.username_string %> on <%= review.created_at %></div>
    <p class="comment">
    <%= review.comment %>
    </p>
  </div>
<% end %>